a {
	text-decoration: none;
	color: @cp;
}
.container {
	position: relative;
	width: 920px;
	margin: auto;
	&:before{
		position: absolute;
		z-index: 10;
		content: '';
		left: 0;
		top: 640px;
		width: 100%;
		border-bottom: 1px dashed #29a6df;
	}
}
.mask {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	bottom: -300px;
	width: 100%;
	overflow: hidden;
	span {
		.transition(0.2s);
		.rotate(6deg);
		.box-shadow(0 0 20px fade(#000,30%));
		position: absolute;
		top: 255px;
		left: -50%;
		width: 200%;
		height: 100%;
		background: #fff;
		.on & {
			top: 980px;
		}
	}
}
.txt_01 {
	position: absolute;
	top: 162px;
	right: 90px;
	font-size: 165px;
	line-height: 1;
	letter-spacing: -24px;
	color: #fff;
}
.txt_02 {
	position: absolute;
	z-index: 3;
	top: 380px;
	left: 290px;
	width: 640px;
	font-size: 40px;
	line-height: 1.2;
	color: #29a6df;
	text-align: left;
	.on & {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}
.txt_03 {
	position: absolute;
	z-index: 2;
	top: 508px;
	left: 0;
	width: 100%;
	padding: 0 40px;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 500;
	color: #b9ff00;
	text-align: center;
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-o-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.round {
	.border-radius(50%);
	position: absolute;
	z-index: 3;
	top: 348px;
	left: 62px;
	width: 166px;
	height: 166px;
	background: url(../images/bg/02.png);
	-webkit-animation: spin 0.8s linear infinite;
	-moz-animation: spin 0.8s linear infinite;
	-o-animation: spin 0.8s linear infinite;
	animation: spin 0.8s linear infinite;
	.on & {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}
@-webkit-keyframes updown {
	from { margin-top: 0px; }
	to { margin-top: -10px; }
}
@-moz-keyframes updown {
	from { margin-top: 0px; }
	to { margin-top: -5px; }
}
@-o-keyframes updown {
	from { margin-top: 0px; }
	to { margin-top: -5px; }
}
@keyframes updown {
	from { margin-top: 0px; }
	to { margin-top: -5px; }
}
.mouse {
	position: absolute;
	z-index: 3;
	left: 117px;
	top: 371px;
	width: 56px;
	height: 108px;
	background: url(../images/icon/01.png) no-repeat;
	.on & {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	.arr {
		position: absolute;
		left: 19px;
		top: 60px;
		width: 18px;
		height: 26px;
		background: url(../images/icon/02.png);
		-webkit-animation: updown 0.8s linear infinite;
		-o-animation: updown 0.8s linear infinite;
		animation: updown 0.8s linear infinite;
	}
}
.logo {
	position: absolute;
	top: 700px;
	left: 0;
	width: 100%;
	font-size: 18px;
	padding: 52px 0 0;
	color: #fff;
	background: url(../images/logo/01.png) no-repeat top;
}