@font-face {
    font-family: 'DaxCE';
    src: url('daxce-regular-webfont.eot');
    src: url('daxce-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-regular-webfont.woff2') format('woff2'),
         url('daxce-regular-webfont.woff') format('woff'),
         url('daxce-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DaxCE';
    src: url('daxce-light-webfont.eot');
    src: url('daxce-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-light-webfont.woff2') format('woff2'),
         url('daxce-light-webfont.woff') format('woff'),
         url('daxce-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}